@themeDarkColor: #039be5;
@themeLightColor: #eee;
@shadowColor: #000;
@linkColor: #fff;
@headerHeight: 50px;
@footerHeight: 30px;
@tabSize: 30px;

/* General tags properties */

body {
	background-color: @themeLightColor;
	margin: 0;
	font-family: Slab,Georgia,serif;
	font-size: 14px;
}

header {
	background-color: @themeDarkColor;
	height: @headerHeight;
	position: fixed;
	top: 0;
	z-index: 1;
}

article {
	margin: @headerHeight + 10 10px @footerHeight;
}

footer {
	background-color: @themeDarkColor;
	height: @footerHeight;
}

footer p {
	line-height: @footerHeight;
}

a {
	text-decoration: none;
	color: @linkColor;
}


/* Class properties */

.logo {
	width: 48px;
	height: 48px;
}

.headerDiv {
	height: @headerHeight;
	display: table-cell;
	vertical-align: middle;
}

.search {
	width: 300px;
	border: none;
	border-bottom: 1px solid #ddd;
	outline: none;
    display: block;
	background: transparent;
	color: #fff;
}


/* Id properties */

#search {
	width: 20px;
	height: 20px;
}


/* Universal properties */

.maxWidth {
	width: 100%;
}

.tabLeft {
	margin-left: @tabSize;
}

.tabRight {
	margin-right: @tabSize;
}

.textAlignLeft {
	text-align: left;
}

.floatRight {
	float: right;
}

.dropShadow {
	-webkit-box-shadow: 0px 1px 3px 1px @shadowColor;
	-moz-box-shadow: 	0px 1px 3px 1px @shadowColor;
	box-shadow: 		0px 1px 3px 1px @shadowColor;
}